body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 375px;
  height: 500px;
  background-color: hsl(212, 45%, 89%);
  margin: 50px auto;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-right: 0px;
  padding-left: 0px;
}

img {
  width: 260px;
  border-radius: 15px;
}

.second_container {
  background: white;
  padding-top: 10px;
  height: 450px;
  width: 300px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-radius: 15px;
}

p {
  font-size: 12px;
}
